body {
    background-color: rgba(209, 206, 206, 0.63);
  }

  h1{
    color: #a10707;
    text-align: center;
  }

  h2{
    color: #aa0c41dc;
    text-align: center;
  }


label[for="mostrar"] {
  position: relative;
  padding: 10px;
  background-color: #75130cb7;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 50px; 
  width: 150px;
  margin: 0; 
  margin-left: 700px;
}

label[for="mostrar"]:hover {
  background-color: #e04a4a67;
  color: #ce0707;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 50px; 
  width: 150px;
  margin: 0;
  margin-left: 700px; 
}


.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  transition: opacity 0.3s ease;
}

.imagen img {
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}


label:hover ~ .galeria {
  opacity: 0;
  pointer-events: none;
}

#mostrar {
    border: none;
    outline: none;
    background-color: #a1070700;
  }